@import "tailwindcss";

@theme {
  --color-separator: #c5c5c5;
  --color-primary: #6044fb;
  --color-primary-light: #b8c0f5;
  --color-dark-text: #1e293b;
  --color-background-1: #ffffff;
  --color-background-2: #E6EAF0;
  --color-place-holder-text: #6b7280;
  --color-grey-text: #4a4a4a;

  --color-navbar-text: #374151;
  --color-navbar-text-title: #1e293b;
  --color-navbar-text-title: #1E293B;
  --color-flowsheet-header: #1E293B;
  --color-flowsheet-group-header: #6A77D6;

  --font-navbar-text: "Inter", sans-serif;
  --font-navbar-text-title: "Inter", sans-serif;
}

body,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type="range"] {
  background: transparent;
  cursor: pointer;
  outline: none;
}

.range-primary-light::-webkit-slider-runnable-track {
  height: 8px;
  background: var(--color-primary-light);
  border-radius: 9999px;
  outline: none;
  border: 0;
}

.range-primary-light:focus::-webkit-slider-runnable-track {
  outline: none;
}

.range-primary-light::-webkit-slider-thumb {
  margin-top: -4px;
}

.range-primary-light::-moz-range-track {
  height: 8px;
  background: var(--color-primary-light);
  border-radius: 9999px;
  outline: none;
}

.range-primary-light:focus::-moz-range-track {
  outline: none;
}

.range-primary-light::-moz-slider-thumb {
  margin-top: -4px;
}

div:focus {
  outline: none;
}

.transition-primary {
  transition: all 0.3s ease-in-out;
}